<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/css/Lib/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/Lib/owl.carousel.min.css">
  <link rel="stylesheet" href="../assets/css/Lib/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/App/site.css">
   
  <link rel="stylesheet" href="../assets/css/App/Dashboard.css">
 
  
 
  <title>Dashhboard</title>
</head>

<body>
  
  <!-- Header Section-Start -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/image/logos/logo.png" height="45px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <div class="navbar_flexDiv">
          <!-- <img src="../assets/image/icons/contact-card.svg" class="icon" /> -->

          <a href="#" class="btn btn-outline-success">Login/Sign up</a>
        </div>
      </div>
    </div>
  </nav>
  
 
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="../components/index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title text-white">Dashboard</h2>
                </div>
            </div>
        </div>
    </div>
     <!-- Header Section-End -->

    <!-- content start -->
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3  text-start">
    <div class="profile-sidebar">
       <img src="../assets/image/logos/doctor.jpg" class="Doctorimg " />
      <div class="Darren">
        <h5>Dr. Darren Elder</h5>
        <p>BDS, MDS - Oral & Maxillofacial Surgery</p>
      </div>
       
      <div class="Darren1">
        <p class="dashboard"><span class="material-icons ">
          home
          </span>Dashbord</p>
         
      </div>
      <div class="Darren1 ">
        <p class="dashboard"><span class="material-icons">
            personal_injury
            </span>My Patients</p>
         
      </div>
      <div class="Darren1 ">
        <p class="dashboard"><span class="material-icons">
            hourglass_top
            </span>Schedule Timing</p>
         
      </div>
      <div class="Darren1 ">
        <p class="dashboard"><span class="material-icons">
            difference
            </span>Invoices</p>
         
      </div>
      <div class="Darren1 ">
        <p class="dashboard"><span class="material-icons">
            star
            </span>Reviws</p>
         
      </div>
       
         
       
      <div class="Darren1 ">
        <p class="dashboard"><span class="material-icons">
          mode_comment
          </span> Message</p>
         
      </div>
      <div class="Darren1 ">
        <p class="dashboard"><span class="material-icons">
          manage_accounts
          </span>Profile Settings</p>
         
      </div>
      <div class="Darren1 ">
        <p class="dashboard"> <span class="material-icons">
          share
          </span>Socil Media</p>
         
      </div>
      <div class="Darren1 ">
        <p class="dashboard"> <span class="material-icons">
          lock
          </span>Change Password</p>
         
      </div>
      <div class="Darren1 ">
        <p class="dashboard"><span class="material-icons">
          logout
          </span> Logout</p>
         
      </div>
     
    </div>
    </div>
     
    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="row">
         <div class="col-sm-12 col-md-12 col-lg-12 ">
      
       <div class="Patient ">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-4 Patientrow ">
            <div class="dash-widget dct-border-rht ">
              <div class="RCP" style="position: relative; width: 240px;">
                <svg width="240" height="240" viewBox="0 0 240 240" style="transform: rotate(-210deg);">
                  <circle cx="120" cy="120" r="100" fill="none" stroke="#e6e6e6" stroke-width="8" stroke-dasharray="628.3185307179587, 628.3185307179587" stroke-linecap="square" class="RCP__track" style="transition: all 0s ease 0s;"></circle>
                  <circle cx="120" cy="120" r="100" fill="none" stroke="#da3f81" stroke-width="16" stroke-dasharray="628.3185307179587, 628.3185307179587" stroke-dashoffset="314.1592653589793" stroke-linecap="square" class="RCP__progress" style="transition: all 1.5s ease 0.5s;">
                    
                  </circle>
                </svg>
                <div class="indicator-volume">
                <img src="../assets/dashboardimag/patientimg.png"class="img-fluid" >
              </div>
              <div>
                <h6>Total Patient</h6><h3>1500</h3><p class="text-muted">Till Today</p>
              </div>
              
            </div>
              

             
            
            </div>
             </div> 
            
          <div class="col-md-4 col-lg-4 col-sm-4 Patientrow">
            <div class="boxsize  ">
              <img src="../assets/dashboardimag/man.png">
               
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4  ">
            <div class="boxsize  ">
              <img src="../assets/dashboardimag/Appoinments.png">
               
            </div>
          </div>
        </div>
        </div>
     
      </div>
      <h5 class="m-3">Patient Appoinment</h5>
      <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="Patient2">
            <div class="button pb-3">
              <button type="button" class="btn btn-primary rounded-pill " >Upcoming</button>
              <button type="button" class="btn btn-white rounded-pill button1 ml-5" >Today</button>
             
            </div>
            </div>
          
            
          <!-- <!-- <div class="page-content page-container" id="page-content"> -->
             <!-- <div class="padding">  -->
                <div class="row container-fluid1 d-flex justify-content-center">  
                 
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card"> -->
                      <!-- <div class="card">
                        <div class="card-body"> -->
                          
                          
                          <div class="table-responsive">
                            <table class="table border-right border-left  ">
                              <thead>
                                <tr>
                                  <th>Patient Name</th>
                                  <th>Appt Date</th>
                                  <th>Purpose</th>
                                  <th>Type</th>
                                  <th>Paid Amount</th>
                                   
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  
                                  <td>
                                    <h6>
                                      <a href="#">
                                      <img src="../assets/dashboardimag/doctor.jpg" class="tdimage">
                                    </a>
                                      <a href="#">Rohan <spnan>ghjfufhdfga</spnan> </a>
                                      
                                      
                                    </h6>
                                   
                                  </td>
                                  <td>11 Jun 2022 <span class="d-block text-info">100:00</span></td>
                                  <td>General</td>
                                  
                                  <td>New Patient</td>
                                  <td>$234</td>
                                  <td><a href="#"><button class="btn btn-primary btn-sm dash btncolor1">
                                    <span class="material-icons">
                                    visibility
                                    </span>View
                                  </button>
                                    </a> 
                                    <a href="#"><button class="btn btn-primary btn-sm dash btncolor2  ">
                                      <span class="material-icons">
                                    done
                                    </span>Accept</label>
                                    </button></a> 
                                  <a href="#"><button class="btn btn-primary btn-sm dash btncolor3  "><span class="material-icons ">
                                    close
                                    </span>Cancel</button>
                                  </a></td>
                                </tr>
                                <tr>
                                  <td>
                                    <h6>
                                      <img src="../assets/dashboardimag/patient2.jpg" class="tdimage">
                                      <a href="#">Vishal Misgra</a>
                                    </h6>
                                  </td>
                                  <td>12 Jun 2022 <span class="d-block text-info">12:00</span></td>
                                  <td>General</td>
                                  
                                  <td>New Patient</td>
                                  <td>$234</td>
                                  <td><a href="#"><button class="btn btn-primary btn-sm dash btncolor1">
                                    <span class="material-icons">
                                    visibility
                                    </span>View
                                  </button>
                                    </a> 
                                    <a href="#"><button class="btn btn-primary btn-sm dash btncolor2  ">
                                      <span class="material-icons">
                                    done
                                    </span>Accept</label>
                                    </button></a> 
                                  <a href="#"><button class="btn btn-primary btn-sm dash btncolor3  "><span class="material-icons ">
                                    close
                                    </span>Cancel</button>
                                  </a></td>
                                </tr>
                                <td>
                                  <h6>
                                    <img src="../assets/dashboardimag/patient3.jpg" class="tdimage">
                                    <a href="#">Anit Gupta  </a>
                                  </h6>
                                </td>
                                <td>24 Jun 2022 <span class="d-block text-info">1:00</span></td>
                                <td>General</td>
                                
                                <td>New Patient</td>
                                <td>$234</td>
                                <td><a href="#"><button class="btn btn-primary btn-sm dash btncolor1">
                                  <span class="material-icons">
                                  visibility
                                  </span>View
                                </button>
                                  </a> 
                                  <a href="#"><button class="btn btn-primary btn-sm dash btncolor2  ">
                                    <span class="material-icons">
                                  done
                                  </span>Accept</label>
                                  </button></a> 
                                <a href="#"><button class="btn btn-primary btn-sm dash btncolor3  "><span class="material-icons ">
                                  close
                                  </span>Cancel</button>
                                </a></td>
                              </tr>
                              <tr>
                                <td>
                                <h6>
                                    <img src="../assets/dashboardimag/patient4.jpg" class="tdimage">
                                    <a href="#">Rohan  </a>
                                  </h6>
                                </td>
                                <td>25 Jun 2022 <span class="d-block text-info">2:00</span></td>
                                <td>General</td>
                                
                                <td>New Patient</td>
                                <td>$234</td>
                                <td><a href="#"><button class="btn btn-primary btn-sm dash btncolor1">
                                  <span class="material-icons">
                                  visibility
                                  </span>View
                                </button>
                                  </a> 
                                  <a href="#"><button class="btn btn-primary btn-sm dash btncolor2  ">
                                    <span class="material-icons">
                                  done
                                  </span>Accept</label>
                                  </button></a> 
                                <a href="#"><button class="btn btn-primary btn-sm dash btncolor3  "><span class="material-icons ">
                                  close
                                  </span>Cancel</button>
                                </a></td>
                              </tr>
                              <td>
                                <h6>
                                  <img src="../assets/dashboardimag/patient3.jpg" class="tdimage">
                                  <a href="#">Sakshi Tripathi</a>
                                </h6>
                              </td>
                              <td>26 Jun 2022 <span class="d-block text-info">100:00</span></td>
                              <td>General</td>
                              
                              <td>New Patient</td>
                              <td>$234</td>
                              <td><a href="#"><button class="btn btn-primary btn-sm dash btncolor1">
                                <span class="material-icons">
                                visibility
                                </span>View
                              </button>
                                </a> 
                                <a href="#"><button class="btn btn-primary btn-sm dash btncolor2  ">
                                  <span class="material-icons">
                                done
                                </span>Accept</label>
                                </button></a> 
                              <a href="#"><button class="btn btn-primary btn-sm dash btncolor3  "><span class="material-icons ">
                                close
                                </span>Cancel</button>
                              </a></td>
                            </tr>
                             
                                   
                                <tr>
                                  <td>
                                    <h6>
                                      <img src="../assets/dashboardimag/patient4.jpg" class="tdimage">
                                      <a href="#">Rohan  </a>
                                    </h6>
                                  </td>
                                  <td>11 Jun 2022 <span class="d-block text-info">100:00</span></td>
                                  <td>General</td>
                                  
                                  <td>New Patient</td>
                                  <td>$234</td>
                                  <td><a href="#"><button class="btn btn-primary btn-sm dash btncolor1">
                                    <span class="material-icons">
                                    visibility
                                    </span>View
                                  </button>
                                    </a> 
                                    <a href="#"><button class="btn btn-primary btn-sm dash btncolor2  ">
                                      <span class="material-icons">
                                    done
                                    </span>Accept</label>
                                    </button></a> 
                                  <a href="#"><button class="btn btn-primary btn-sm dash btncolor3  "><span class="material-icons ">
                                    close
                                    </span>Cancel</button>
                                  </a></td>
                                </tr>
                                 
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    </div>
                      </div>
                    </div> 
                    </div> 
            
              
       
    
   
  </div>
</div>
</div>


    <!-- content end -->
</body>
    </html>
