<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/css/Lib/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/Lib/owl.carousel.min.css">
  <link rel="stylesheet" href="../assets/css/Lib/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/App/site.css">
  <link rel="stylesheet" href="../assets/css/App/index.css">
  <title>Title</title>
</head>

<body>

  <!-- Header Section-Start -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/image/logos/logo.png" height="45px" />
      </a>
      <div style="display: flex;">
      <a href="#" style="border-radius: 50%;    padding: 0.375rem 0.75rem;" class="mr-2 navbar-toggler btn btn-outline-success"><i class="material-icons">person</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons">menu</span>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Doctors <span class="material-icons">expand_more</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <div class="navbar_flexDiv">
          <!-- <img src="../assets/image/icons/contact-card.svg" class="icon" /> -->

          <a href="#" class="btn btn-outline-success">Login/Sign up</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Header Section-End -->

  <!-- Content Section- Start -->
  <div class="banner_section container-fluid">
    <!-- <img src="../assets/image/logos/hospital.jpg" class="image img-fluid"> -->
    <div class="row" style="margin: 0;">
      <div class="col-md-12">
        <div class="container banner_form">
          <h1 class="head1 text-center">Find your doctor, Make an Appointment</h1>
          <h4 class="head2 text-center text-muted">Discover the best doctors, clinic & hospital the city nearest to you.
          </h4>
          <div class="row justify-content-center pt-5" style="margin: 0;">
            <div class="col-md-3 col-sm-4">
              <!-- <div class="input-group mb-3">
                <span class="input-group-text material-icons" id="basic-addon1">search</span>
                <input autocomplete="off" autocapitalize="true" type="text" class="form-control bl_0"
                  placeholder="Username">
              </div> -->

              <div class="form-group search_location">
                <input type="text" class="form-control" placeholder="Search Location" />
                <span class="text-muted pl-2">Based on your location</span>
              </div>

            </div>
            <div class="col-md-5 col-sm-5">
              <div class="form-group search_doctor">
                <input type="text" class="form-control" placeholder="Search Location" />
                <span class="text-muted pl-2">Find doctors.....</span>
              </div>

            </div>
            <div class="col-md-2 col-sm-2 sm-right">
              <a class="btn btn-outline-success btn-icon" style="line-height: 0.5;padding: 9px;">
                <i class="material-icons">search</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <img class="d-sm-none d-lg-block " src="../assets/image/logos/banner_doctor.png" />
      </div> -->
    </div>

    <!-- <div class="form-group d-flex" style="padding: 40px ;">
      <div class="col-md-6 col-lg-4 col-sm-2">



        <input type="text" class="form-control locationin" id="exampleFormControlInput1" placeholder="search"
          style="margin-left: 170px;">
        <small>Based on your Location</small>


      </div>
      <div class="col-md-6 col-lg-4 col-sm-2">

        <input type="search" class=" form-control searchin bg-white" id="btn2" placeholder=" desease ,doctor,hospital"
          style="margin-left: 200px;">
        <small>Ex : Dental or Sugar Check up etc</small>

      </div>
      <div class="col-2">
        <button type="button" class="btn btn-success" style="margin-left:210px;">
          <span class="material-icons">
            saved_search
          </span>
        </button>
      </div>
    </div> -->
  </div>



  <div class="container-fluid bg-light">
    <h1 class="head1 text-center">What are you looking for?</h1>
    <div class="container  ">

      <div class="row justify-content-center pt-5" style="margin: 0;">
        <div style="overflow: hidden;" class="col-md-3 col-sm-4 ml-md-2  mb-5">
          <div class="card text-center doc_block_card">
            <img class="img-fluid" src="../assets/image/logos/image.jpg" alt="Card image cap">
            <div class="image-overlay">
              <div>
                <h2 class="text-center  textcolor ">Visit a Doctor</h2>
                <button class="btn btn-success text-center"
                  style="background-color: #34f712;border-color: #40f121; align-items: center;">Book
                  now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 ml-md-2 mb-5">
          <div class="card text-center doc_block_card">

            <img class="img-fluid" src="../assets/image/logos/medition.jpg" alt="Card image cap">
            <div class="image-overlay">
              <div>
                <h2 class="text-center  textcolor ">Find pharmency</h2>
                <button class="btn btn-success text-center px-3 py-2"
                  style="background-color: #34f712;border-color: #27e016; align-items: center;">Book
                  now</button>
              </div>
            </div>

          </div>
        </div>
        <div style="overflow: hidden;" class="col-md-3 col-sm-4 ml-md-2 mb-5">
          <div class="card text-center doc_block_card">
            <img class="img-fluid " src="../assets/image/logos/img2.jpg" alt="Card image cap">
            <div class="image-overlay">
              <div>
                <h2 class="text-center textcolor ">find a lab</h2>
                <button class="btn btn-success text-center"
                  style="background-color: #40f121;border-color: #40f121; align-items: center;">Book
                  now</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="container">
    <h1 class="head1 text-center">Clinic and Specialities</h1>
    <h4 class="head2 text-center " style="font-size:15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod</br> tempor incididunt ut labore et dolore magna aliqua. </h4>
    <!-- <a class="btn btn-danger" onclick="owlPrevFunc()">Pre</a>
      <a class="btn btn-info" onclick="owlNextFunc()">Pre</a> -->
    <div class="owl-carousel owl-carousel_1 owl-theme owl-loaded mt-4">
      <div class="owl-stage-outer">
        <div class="owl-stage" style="padding:15px 0px;">
          <div class="owl-item">
            <div>
              <div class="owl_itemss text-center">
                <img class="img-fluid" src="../assets/image/logos/ungology.png" />
              </div>
              <div style="margin-top:40px;text-align: center;">
               Urology
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div>
              <div class="owl_itemss text-center">
                <img class="img-fluid" src="../assets/image/logos/nerology.png" />
              </div>
              <div style="margin-top:40px;text-align: center;">
               Neurology
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div>
              <div class="owl_itemss text-center">
                <img class="img-fluid" src="../assets/image/logos/othropic.png" />
              </div>
              <div style="margin-top:40px;text-align: center;">
                Othopedic
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div>
              <div class="owl_itemss text-center">
                <img class="img-fluid" src="../assets/image/logos/Cardiologist.png" />
              </div>
              <div style="margin-top:40px;text-align: center;">
                Cardiologist
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div>
              <div class="owl_itemss text-center">
                <img class="img-fluid" src="../assets/image/logos/Dentist.png" />
              </div>
              <div style="margin-top:40px;text-align: center;">
                Dentist
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="owl-item">
            <div>
              
            <div class="owl_itemss text-center">
              <img class="img-fluid" src="../assets/image/logos/tith.png">
            </div>
             <div style="margin-top:40px;text-align: center;">
              Om Ji Mihshra
            </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>

  <br>

  </div>

  <div class="container-fluide bg-light">
    <div class="row justify-content-center" style="margin: 0;padding: 0;">
      <div class=" col-lg-4 col-md-4 col-sm-4 ">
        <div class="" style="margin-left:  20px;">
          <h2 class="head1 mt-5">Book Our Doctor</h2>
          <p class="head2 mb-3">Lorem Ipsum is simply dummy text</p>
          <p class="head2 mb-3">It is a long established fact that a reader will be distracted by the readable content
            of a page when looking at its layout. The point of using Lorem Ipsum.</p>
          <p class="head2 mb-3">web page editors now use Lorem Ipsum as their default model text, and a search for
            'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the
            years, sometimes</p>
          <a href="#" class="btn btncolor">Read More</a>
        </div>
      </div>

      <div class=" col-lg-8 col-md-8 col-sm-4 mt-5 mb-4" style="position: relative;">
        <div class="owl-carousel owl-carousel_3 owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item">


                <div class="card  ">
                  <img class="card-img-top " src="../assets/image/logos/doctor.jpg "
                    style="padding: 20px;height: 200px; ">
                  <div class="card-body">
                    <h6 class="card-title iconcolor  ">Arjun Singh
                      <span class="material-icons">
                        check
                      </span>
                    </h6>
                    <p class="card-text">
                      MBBS, MS-General Surgery MCh-Urology
                    </p>
                    <p class="star   justify-content: space-between;">
                      <span class="material-icons">
                        star star star
                      </span>
                      <span class="material-icons text-muted">
                        star

                      </span>
                      <span class="d-inline-block text-muted ">
                        (4)
                      </span>
                    </p>
                    <ul class="available-info">
                      <li class="listicon"><span class="material-icons"> pin_drop</span> Louisiana, USA</li>
                      <li class="listicon"><span class="material-icons">schedule</span>Avlailebal on Fri, 22 mar </li>
                      <li class="listicon"><span class="material-icons"> local_atm</span> $150 - $250<span
                          class="material-icons">fa info</span> </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card  ">
                  <img class="card-img-top " src="../assets/image/logos/doctor3.jpg" style="padding: 20px;height: 200px; ">
                  <div class="card-body">
                    <h6 class="card-title iconcolor  ">Renu Singh
                      <span class="material-icons">
                        check
                      </span>
                    </h6>
                    <p class="card-text">
                     MDS - Peridontolgy and Oral Implantology, BDS
                    </p>
                    <p class="star   justify-content: space-between;">
                      <span class="material-icons">
                        star star star
                      </span>
                      <span class="material-icons text-muted">
                        star

                      </span>
                      <span class="d-inline-block text-muted ">
                        (4)
                      </span>
                    </p>
                    <ul class="available-info">
                      <li class="listicon"><span class="material-icons"> pin_drop</span> Louisiana, USA</li>
                      <li class="listicon"><span class="material-icons">schedule</span>Avlailebal on Fri, 22 mar </li>
                      <li class="listicon"><span class="material-icons"> local_atm</span> $150 - $250<span
                          class="material-icons">fa info</span> </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card  ">
                  <img class="card-img-top " src="../assets/image/logos/doctor4.jpg"
                    style="padding: 20px;height: 200px; ">
                  <div class="card-body">
                    <h6 class="card-title iconcolor  ">Priya Pandye
                      <span class="material-icons">
                        check
                      </span>
                    </h6>
                    <p class="card-text">
                     BDS, MDS - Oral & Maxilliofacial
                    </p>
                    <p class="star   justify-content: space-between;">
                      <span class="material-icons">
                        star star star
                      </span>
                      <span class="material-icons text-muted">
                        star

                      </span>
                      <span class="d-inline-block text-muted ">
                        (4)
                      </span>
                    </p>
                    <ul class="available-info">
                      <li class="listicon"><span class="material-icons"> pin_drop</span> Louisiana, USA</li>
                      <li class="listicon"><span class="material-icons">schedule</span>Avlailebal on Fri, 22 mar </li>
                      <li class="listicon"><span class="material-icons"> local_atm</span> $150 - $250<span
                          class="material-icons">fa info</span> </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="owl-item">


                <div class="card  ">
                  <img class="card-img-top " src="../assets/image/logos/doctor.jpg "
                    style="padding: 20px;height: 200px; ">
                  <div class="card-body">
                    <h6 class="card-title iconcolor  ">Anup Shukla
                      <span class="material-icons">
                        check
                      </span>
                    </h6>
                    <p class="card-text">
                      BDS, MDS - Oral & Maxilliofacial
                    </p>
                    <p class="star   justify-content: space-between;">
                      <span class="material-icons">
                        star star star
                      </span>
                      <span class="material-icons text-muted">
                        star

                      </span>
                      <span class="d-inline-block text-muted ">
                        (4)
                      </span>
                    </p>
                    <ul class="available-info">
                      <li class="listicon"><span class="material-icons"> pin_drop</span> Louisiana, USA</li>
                      <li class="listicon"><span class="material-icons">schedule</span>Avlailebal on Fri, 22 mar </li>
                      <li class="listicon"><span class="material-icons"> local_atm</span> $150 - $250<span
                          class="material-icons">fa info</span> </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card  ">
                  <img class="card-img-top " src="../assets/image/logos/doctor3.jpg" style="padding: 20px;height: 200px; ">
                  <div class="card-body">
                    <h6 class="card-title iconcolor  ">Priti Tripathi
                      <span class="material-icons">
                        check
                      </span>
                    </h6>
                    <p class="card-text">
                      MDS - Peridontolgy and Oral Implantology, BDS
                    </p>
                    <p class="star   justify-content: space-between;">
                      <span class="material-icons">
                        star star star
                      </span>
                      <span class="material-icons text-muted">
                        star

                      </span>
                      <span class="d-inline-block text-muted ">
                        (4)
                      </span>
                    </p>
                    <ul class="available-info">
                      <li class="listicon"><span class="material-icons"> pin_drop</span> Louisiana, USA</li>
                      <li class="listicon"><span class="material-icons">schedule</span>Avlailebal on Fri, 22 mar </li>
                      <li class="listicon"><span class="material-icons"> local_atm</span> $150 - $250<span
                          class="material-icons">fa info</span> </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="card  ">
                  <img class="card-img-top " src="../assets/image/logos/doctor4.jpg"
                    style="padding: 20px;height: 200px; ">
                  <div class="card-body">
                    <h6 class="card-title iconcolor  ">Rita Tiwari
                      <span class="material-icons">
                        check
                      </span>
                    </h6>
                    <p class="card-text">
                      BDS, MDS - Oral & Maxilliofacial
                    </p>
                    <p class="star   justify-content: space-between;">
                      <span class="material-icons">
                        star star star
                      </span>
                      <span class="material-icons text-muted">
                        star

                      </span>
                      <span class="d-inline-block text-muted ">
                        (4)
                      </span>
                    </p>
                    <ul class="available-info">
                      <li class="listicon"><span class="material-icons"> pin_drop</span> Louisiana, USA</li>
                      <li class="listicon"><span class="material-icons">schedule</span>Avlailebal on Fri, 22 mar </li>
                      <li class="listicon"><span class="material-icons"> local_atm</span> $150 - $250<span
                          class="material-icons">fa info</span> </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="owl-item">


                <div class="card  ">
                  <img class="card-img-top " src="../assets/image/logos/doctor.jpg "
                    style="padding: 20px;height: 200px; ">
                  <div class="card-body">
                    <h6 class="card-title iconcolor  ">Sachin Kumar
                      <span class="material-icons">
                        check
                      </span>
                    </h6>
                    <p class="card-text">
                      BDS, MDS - Oral & Maxilliofacial
                    </p>
                    <p class="star   justify-content: space-between;">
                      <span class="material-icons">
                        star star star
                      </span>
                      <span class="material-icons text-muted">
                        star

                      </span>
                      <span class="d-inline-block text-muted ">
                        (4)
                      </span>
                    </p>
                    <ul class="available-info">
                      <li class="listicon"><span class="material-icons"> pin_drop</span> Louisiana, USA</li>
                      <li class="listicon"><span class="material-icons">schedule</span>Avlailebal on Fri, 22 mar </li>
                      <li class="listicon"><span class="material-icons"> local_atm</span> $150 - $250<span
                          class="material-icons">fa info</span> </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>

               
              </div>
              <div class="owl-item">


                <div class="card  ">
                  <img class="card-img-top " src="../assets/image/logos/doctor3.jpg "
                    style="padding: 20px;height: 200px; ">
                  <div class="card-body">
                    <h6 class="card-title iconcolor  ">Pooja Gupta
                      <span class="material-icons">
                        check
                      </span>
                    </h6>
                    <p class="card-text">
                      MDS - Peridontolgy and Oral Implantology, BDS
                    </p>
                    <p class="star   justify-content: space-between;">
                      <span class="material-icons">
                        star star star
                      </span>
                      <span class="material-icons text-muted">
                        star

                      </span>
                      <span class="d-inline-block text-muted ">
                        (4)
                      </span>
                    </p>
                    <ul class="available-info">
                      <li class="listicon"><span class="material-icons"> pin_drop</span> Louisiana, USA</li>
                      <li class="listicon"><span class="material-icons">schedule</span>Avlailebal on Fri, 22 mar </li>
                      <li class="listicon"><span class="material-icons"> local_atm</span> $150 - $250<span
                          class="material-icons">fa info</span> </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div>
        <a class="btn_float_left_center" onclick="prevCard_3()"> <i class="material-icons">west</i></a>
        <a class="btn_float_right_center" onclick="nextCard_3()"> <i class="material-icons">east</i></a>
      </div>
    </div>
    <div class="cantainer-fulid">
      <div class="row" style="margin: 0;">
        <div class="col-md-5 col-lg-4 col-sm-4 mt-5">
          <img src="/assets/image/logos/phone.png" class="img-fluid" alt="Feature">
        </div>
        <div class="col-md-7 col-lg-8 col-sm-7 mt-3">
          <h1 class="head1">Availabe Features in Our Clinic</h1>
          <p class="head2">It is a long established fact that a reader will be distracted by the readable <br>content of
            a
            page when looking at its layout.</p>

          <div class="owl-carousel owl-carousel_2 owl-theme owl-loaded mt-4">
            <div class="owl-stage-outer">
              <div class="owl-stage">
                <div class="owl-item ">
                  <div>
                    <div class="owl_items  text-center">
                      <img class="img-fluid " src="../assets/image/img/Medical.jpg"
                        style="border-radius: 100%; height: 150px; width: 150px; " />
                    </div>
                    <div style="margin-top:40px;text-align: center;">
                      Medical
                    </div>
                  </div>

                </div>
                <div class="owl-item ">
                  <div>
                    <div class="owl_items  text-center">
                      <img class="img-fluid " src="../assets/image/img/ICO.jpg"
                        style="border-radius: 100%; height: 150px; width: 150px; " />
                    </div>
                    <div style="margin-top:40px;text-align: center;">
                     ICU
                    </div>
                  </div>

                </div>
                <div class="owl-item ">
                  <div>
                    <div class="owl_items  text-center">
                      <img class="img-fluid " src="../assets/image/img/Opretion.jpg"
                        style="border-radius: 100%;height: 150px; width: 150px;  " />
                    </div>

                    <div style="margin-top:40px;text-align: center;">
                      Opretion
                    </div>
                  </div>
                </div>
                <div class="owl-item ">
                  <div>
                    <div class="owl_items  text-center">
                      <img class="img-fluid " src="../assets/image/img/patientWord.jpg"
                        style="border-radius: 100%; height: 150px; width: 150px; " />
                    </div>
                    <div style="margin-top:40px;text-align: center;">
                      patient Word
                    </div>
                  </div>

                </div>
                <div class="owl-item ">
                  <div>
                    <div class="owl_items  text-center">
                      <img class="img-fluid " src="../assets/image/img/TestRoom.jpg"
                        style="border-radius: 100%; height: 150px; width: 150px; " />
                    </div>
                    <div style="margin-top:40px;text-align: center;">
                      Test Room
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-light mt-5">
        <div class="he text-center">
          <br>
          <br>
          <br>

          <h1>Blogs and News</h1>
          <p class="head2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </br>
            incididunt
            ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row" style="margin: 0;">
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-4 mt-sm-4">
            <div class="card">
              <img src="../assets/image/logos/Blogs1.jpg" class="card-img-top p-3" alt="...">
              <div class="card-body">
                <a><img src="../assets/image/logos/doctor3.jpg"
                    style=" height: 40px;width: 40px ; margin-right: 5px;border-radius: 100%; " /><span>
                    Dr.Raghav</span>
                </a>
                <a>
                  <p class="shedu"> <span class="material-icons">schedule </span>2 Dec 2019</p>
                </a>

                <div class="card-titel">
                  <h5 class="text-primary"> Doccure Making your clinic painless visit? </h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-4 mt-sm-4">
            <div class="card">
              <img src="../assets/image/logos/Blogs2.jpg" class="card-img-top p-3" alt="...">
              <div class="card-body">
                <a><img src="../assets/image/logos/doctor.jpg"
                    style=" height: 40px;width: 40px;margin-right: 5px;border-radius: 100%;" /><span> Dr.Raghav</span>
                </a>
                <a>
                  <p class="shedu"> <span class="material-icons  ">schedule </span>2 Dec 2019</p>
                </a>
                <div class="card-titel">
                  <h5 class="text-primary"> Doccure Making your clinic painless visit? </h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>

                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-4 mt-sm-4">
            <div class="card">
              <img src="../assets/image/logos/Blogs3.jpg" class="card-img-top p-3" alt="...">
              <div class="card-body">
                <a><img src="../assets/image/logos/Blogsdoctor.jpg"
                    style=" height: 40px;width: 40px;margin-right: 5px;border-radius: 100%;" /><span> Dr.Raghav</span>
                </a>
                <a>
                  <p class="shedu"> <span class="material-icons ">schedule </span>2 Dec 2019</p>
                </a>
                <div class="card-titel">
                  <h5 class="text-primary"> Doccure Making your clinic painless visit? </h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-4 mt-sm-4">
            <div class="card">
              <img src="../assets/image/logos/Blogs4.jpg" class="card-img-top p-3" alt="...">
              <div class="card-body">
                <a><img src="../assets/image/logos/doctor4.jpg"
                    style=" height: 40px;width: 40px;margin-right: 5px;border-radius: 100%;" /><span> Dr.Raghav</span>
                </a>
                <a>
                  <p class="shedu"> <span class="material-icons pt-1">schedule </span>2 Dec 2019</p>
                </a>
                <div class="card-titel">
                  <h5 class="text-primary"> Doccure Making your clinic painless visit? </h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>

                </div>
              </div>

            </div>


          </div>

        </div>
        <div class=" mt-5 text-center"><a href=" #" class="btn btn-primary mb-5">View All</a></div>
      </div>
      <div class="container-fluid " style="background-color: #15558d">
        <div class="row " style="margin: 0;">
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-4 mt-sm-4">
            <img src="../assets/image/logos/docimage.png">
            <p class=" text-white mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>

            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>


          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-4 mt-sm-4">
            <h3 class="text-white"> For Patient</h3>



            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                search for doctor
              </i>
            </a>
            <br>
            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                login
              </i>
            </a>
            <br>
            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">

                register
              </i>
            </a>


            <br>
            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                booking
              </i>
            </a>
            <br>
            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                search for doctor
              </i>
            </a>


          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-4 mt-sm-4">
            <h3 class="text-white"> For Patient</h3>



            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                search for doctor
              </i>
            </a>
            <br>
            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                search for doctor
              </i>
            </a>
            <br>
            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                search for doctor
              </i>
            </a>


            <br>
            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                search for doctor
              </i>
            </a>
            <br>
            <a class="arrow ">
              <span class="material-icons mt-4">
                double_arrow
              </span>
              <i class="text-white">
                search for doctor
              </i>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mt-md-4 mt-sm-4">
            <h3 class="text-white ">Contact us</h3>
            <a class="text-white locate mt-5">
              <span class="material-icons">
                pin_drop
              </span>
              <i>3556 Beech Street, San Francisco,California, CA 94108</i>
            </a>
            <br>
            <br>
            <a class="text-white  call mt-4">
              <span class="material-icons">
                phone_in_talk
              </span>
              <i>9832764377</i>
            </a>
            <br><br>
            <a class="text-white mail mt-4">
              <span class="material-icons">
                mail
              </span>
              <i>hjaskyd@gmail.com</i>
            </a>
          </div>
        </div>
        <!-- Content Section- End -->

        <!-- Footer Section-Start -->
        <footer>
          <div class="text-white p-3 mt-5"
            style="border-top: 1px solid #a6b9ca; display: flex;justify-content: space-between;">

            <p class="">© 2020 Doccure. All rights reserved.</p>
            <p class=""><a class=" text-white" href="/reactjs/template/terms">Terms and Conditions | Policy </a>
            </p>
          </div>
        </footer>
        <!-- Footer Section-End -->


        <script src="../assets/js/library/propper.min.js"></script>
        <script src="../assets/js/library/jquery-3.6.0.min.js"></script>
        <script src="../assets/js/library/jquery-ui.min.js"></script>
        <script src="../assets/js/library/bootstrap.min.js"></script>
        <script src="../assets/js/library/owl.carousel.min.js"></script>
        <script src="../assets/js/app/site.js"></script>

</body>

</html>